"""
    ** {{ warn }} **

    Domain: {{ domain.name }}
    Description: {{ domain.desc }}
"""
import json
from datetime import datetime
from typing import Optional

{% for ename in events.keys() %}

class {{ename}}:
    """{{ events[ename][-1][1]['desc'] }}"""
    {% set fields = events[ename][-1][1]['fields'] %}
    {% set fields = events[ename][-1][1]['fields'] %}
    {% set rfields = fields | required %}
    {% set ofields = fields | optional %}
    {% set cfields = fields | const %}

    def __init__(self, {% for fname in rfields.keys() %}{% set field = fields[fname][-1][1] %}_{{ fname }}: {{ type(field) }}{% if not loop.last %}, {% endif %}{% endfor %}):
        self.reset({% for fname in rfields.keys() %}{% set field = fields[fname][-1][1] %}_{{ fname }}{% if not loop.last %}, {% endif %}{% endfor %})

    def reset(self, {% for fname in rfields.keys() %}{% set field = fields[fname][-1][1] %}_{{ fname }}: {{ type(field) }}{% if not loop.last %}, {% endif %}{% endfor %}):
        {% for fname in fields.keys() %}{% if fname != 'DateTime'%}
        {% set field = fields[fname][-1][1] %}
        {% if fname not in cfields %}
        self.{{fname}} = {% if fname in ofields %}None
        {% else %}_{{ fname }}
        {% endif %}{% endif %}
        {% endif %}
        {% endfor %}

    def serialize(self):
        data = dict(DateTime=datetime.now().astimezone().isoformat(),
                    Event="{{ ename }}")
        {% for fname in fields %}
        {% if fname != 'DateTime' %}
        {% set field = fields[fname][-1][1] %}
        {% if fname in rfields %}
        data["{{ fname }}"] = self.{{ fname }}{% if type(field) == 'datetime' %}.isoformat(){% endif %}

        {% elif fname in ofields %}
        if self.{{ fname }} is not None:
            data["{{ fname }}"] = self.{{ fname }}{% if type(field) == 'datetime' %}.isoformat(){% endif %}
            
        {% elif fname in cfields %}
        {% set ftype, fval = cfields[fname] %}
        data["{{ fname }}"] = {% if ftype == 'string' %}"{% endif %}{{ fval }}{% if ftype == 'string' %}"{% endif %}
        
        {% endif %}
        {% endif %}
        {% endfor %}
        return json.dumps(data)

{% endfor %}