/*

    ** 이 파일은 loglab 에서 생성된 것입니다. 고치지 마세요! **

    Domain: {{ domain.name }}
    Description: {{ domain.desc }}

*/

using System;
using System.Text.Json;

namespace loglab
{
namespace {{ domain.name }}
{
    {% for ename in events.keys() %}
    /// <summary>
    ///  {{ events[ename][-1][1]['desc'] }}
    /// </summary>
    public class {{ ename }}
    {
        public const string Event = "{{ ename }}";
        {% for fname in events[ename][-1][1]['fields'].keys() %}{% if fname != 'DateTime' %}/// <summary>{{ events[ename][-1][1]['fields'][fname][-1][1]['desc'] }}</summary>
        public {{ json2cs[events[ename][-1][1   ]['fields'][fname][-1][1]['type']] }} {{ fname }} { get; set; }
        {% endif %}
        {% endfor %}
        public string Serialize()
        {
            string json = JsonSerializer.Serialize(this);
            string dt = DateTime.Now.ToString("yyyy-MM-ddTH:mm:sszzz");
            string head = String.Format("\"DateTime\":\"{0}\",\"Event\":\"{1}\",", dt, "{{ ename }}");
            json = json.Insert(1, head);
            return json;
        }
    }
    {% endfor %}
}
}